<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo list</title>
    <!-- https://www.bootcdn.cn/jquery/ -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    <script src="/assets/todo-list.js"></script>
  </head>
  <body></body>
</html>
